html{
   height: 100%;

}
body {
  background-color: white;
  margin: 0 0 0 0;
  box-sizing: border-box;
}
html, body
{
    height: 100%;
    overflow: hidden;
}
#root{
    height: 100%!important;
}


h3{
    margin: 0 0 0 0;
    color: black;
    text-align: center;
}
