{% extends "home.html" %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="../static/templates.css">
{% endblock %}
{% block page_title %}
    <p1>Templates</p1>
{% endblock %}

{% block body %}
<div class="form-group template-name-input">
  <label for="tmpn">Name</label>
  <input type="text" class="form-control" id="tmpn">
</div>
<div class="form-group device-model-input">
  <label for="dvcm">Device Model</label>
  <input type="text" class="form-control" id="dvcm">
</div>
<div class="form-group config-input">
  <label for="cfg">Base Configuration File</label>
  <textarea class="form-control" rows="10" id="cfg"></textarea>
</div>

<input class="btn btn-primary btn-add" type="submit" value="Add Template">
<input class="btn btn-primary btn-import" type="submit" value="Import from file">
{% endblock %}