{% extends "home.html" %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="static/device_groups.css">
{% endblock %}
{% block page_title %}
    <p1>Device Groups</p1>
{% endblock %}

{% block body %}
<div class="form-group group-name-input">
  <label for="dvcgn">Name</label>
  <input type="text" class="form-control" id="dvcgn">
</div>
<div class="form-group filter-input">
  <label for="filt">Filter</label>
  <input type="text" class="form-control" id="filt">
</div>

<input class="btn btn-primary btn-add" type="submit" value="Create Device Group">
<input class="btn btn-primary btn-filter" type="submit" value="Apply">
{% endblock %}