<!DOCTYPE html>
<html lang="en">
<head>

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/testcss.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
           <h3 class="panel-title text-center">
               Device Provisioning
            <img src="..." class="rounded mx-auto d-block pic-left" alt="...">
           <img src="..." class="rounded mx-auto d-block pic-right" alt="...">
           </h3>
   </div>
</div>


<div class="panel panel-default align">
<div class="panel-heading panel-heading-topnav">
       <h3 class="panel-title text-center"></h3>
</div>
</div>
<div class="wrapper">

        <nav id="sidebar">
            <!-- Sidebar Links -->
            <ul class="list-unstyled components list-style text-left">
                   <p>Administration</p>
                <li><a href="#">Users</a></li>
                <li><a href="#">User Groups</a></li>
                <li><a href="#">User Authentication</a></li>
                <li><a href="#">Device Enrollment</a></li>
                <li class="active"><a href="#">Support</a></li>
                                <br>
                    <p>Device Inventory</p>
                <li><a href="#">Devices</a></li>
                <li><a href="#">Device Groups</a></li>
                                <br>
                    <p>Template Inventory</p>
                <li><a href="#">Templates</a></li>
                <li><a href="#">Parameters</a></li>
                <li><a href="#">Assignments</a></li>
                                <br>
                    <p>Reports</p>
                <li><a href="#">Deployments</a></li>
                <li><a href="#">Events/Alarms</a></li>
            </ul>
        </nav>
        <div class="overlay"><div>
</div>



</body>
</html>