{% extends "home.html" %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="../static/login.css">
{% endblock %}

{% block page_title %}
    <p1>Login</p1>
{% endblock %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post class="login-page">
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </dl>
  </form>
{% endblock %}