{% extends "home.html" %}
{% block stylesheet %}
<script> var counts = {{ test|tojson }}; </script>
<link rel="stylesheet" type="text/css" href="../static/users.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://fb.me/react-0.14.2.js"></script>
<script src="https://fb.me/react-dom-0.14.2.js"></script>
<script src="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table.js"></script>

<script src="../static/js/react.jsx" type="text/jsx"></script>
{% endblock %}
{% block page_title %}
    <p1>Users</p1>
{% endblock %}

{% block body %}
<form action="{{ url_for('add_User') }}" method=post>

<div class="form-group name-input">
  <label for="usr">Name</label>
  <input type="text" class="form-control" id="usr" name="usr">
</div>
<div class="form-group password-input">
  <label for="password">Password</label>
  <input type="password" class="form-control" id="password" name="password">
</div>
  <div class="form-group retypepassword-input">
  <label for="retypepassword">Retype Password</label>
  <input type="password" class="form-control" id="retypepassword" name="retypepassword">
</div>
<div class="form-group role-input">
  <label for="sel1">Role</label>
  <select class="form-control" id="sel1" name="role">
    <option value="admin">Admin</option>
    <option value="operator">Operator</option>
  </select>
</div>
  <div class="form-group email-input">
  <label for="email">Email</label>
  <input type="text" class="form-control" id="email" name="email">
</div>
<input class="btn btn-primary" type="submit" value="Add User">
 </form>
<div class="userTable" id="userTable">
</div>

{% endblock %}