.template-name-input{
    position: absolute;
    left: 220px;
    top: 150px;
    color: black;
    font-size: 14px;
}
.group-input{
    position: absolute;
    left: 220px;
    top: 220px;
    color: black;
    font-size: 14px;
}
.btn-add{
    position: absolute;
    left: 220px;
    top: 310px;
    font-size: 14px;
    width: 120px;
}
