.device-name-input{
    position: absolute;
    left: 220px;
    top: 150px;
    color: black;
    font-size: 14px;
}
.device-model-input{
    position: absolute;
    left: 220px;
    top: 220px;
    color: black;
    font-size: 14px;
}
.serial-input{
    position: absolute;
    left: 220px;
    top: 290px;
    color: black;
    font-size: 14px;
}
.btn-add{
    position: absolute;
    left: 220px;
    top: 360px;
    color: black;
    font-size: 14px;
    width: 120px
}
.import-file{
    text: center;
    position: absolute;
    left: 220px;
    top: 430px;
    color: black;
    font-size: 14px;
}
.btn-import{
    text: center;
    position: absolute;
    left: 220px;
    top: 500px;
    color: black;
    font-size: 14px;
}