.group-name-input{
    position: absolute;
    left: 220px;
    top: 150px;
    color: black;
    font-size: 14px;
}
.filter-input{
    position: absolute;
    left: 220px;
    top: 220px;
    color: black;
    font-size: 14px;
}
.btn-add{
    position: absolute;
    left: 220px;
    top: 360px;
    color: black;
    font-size: 14px;

}
.btn-filter{
    text: center;
    position: absolute;
    left: 420px;
    top: 245px;
    color: black;
    font-size: 14px;
}