.param-name-input{
    position: absolute;
    left: 220px;
    top: 150px;
    color: black;
    font-size: 14px;
}
.param-type-input{
    position: absolute;
    left: 220px;
    top: 220px;
    color: black;
    font-size: 14px;
}
.param-value-input{
    position: absolute;
    left: 220px;
    top: 290px;
    color: black;
    font-size: 14px;
}

.btn-add{
    position: absolute;
    left: 220px;
    top: 390px;
    color: black;
    font-size: 14px;
    width: 120px

}
.device-check{
    position: absolute;
    left: 220px;
    top: 360px;
}
.device-check-label{
    position: absolute;
    left: 240px;
    top: 360px;
}
