.name-input{
    position: absolute;
    left: 220px;
    top: 150px;
    color: black;
    font-size: 14px;
}
.email-input{
    position: absolute;
    left: 420px;
    top: 150px;
    color: black;
    font-size: 14px;
}
.password-input{
    position: absolute;
    left: 220px;
    top: 220px;
    color: black;
    font-size: 14px;
}
.retypepassword-input{
    position: absolute;
    left: 420px;
    top: 220px;
    color: black;
    font-size: 14px;
}
.role-input{
    position: absolute;
    left: 220px;
    top: 290px;
    color: black;
    font-size: 14px;
}
.btn-primary{
    position: absolute;
    left: 350px;
    top: 315px;
    color: black;
    font-size: 14px;
}
.userTable{
    position: absolute;
    left: 300px;
    top: 440px;
    color: black;
    font-size: 14px;
}