.container{
    width: 100%;
    margin: 0 0 0 0;
    height: 100%;
    padding-bottom: 100px;
    position: relative;
}

.name-input{
    width: 20%;
    padding-top: 3%;
}
.email-input{
    position: absolute;
    padding-top: 3%;
    width: 20%;
    top: 0%;
    left: 22%;
}
.role-input{
    width: max-content;
    position: relative;
    bottom: 80px;
}
.pass-input{
    width: 20%
}
.pass-verify-input{
    position: relative;
    width: 20%;
    bottom: 74.8px;
    left: 22%;
}
.button-submit{
    position: relative;
    width: fit-content;
    bottom: 129px;
    left: -35%;
}
.table-user{
    width: max-content;
    position: relative;
    height: content-box;
    padding-bottom: 10%;
    text-align: left;

}