.panel-default > .panel-heading-custom {
background: #3B73B9; color: #fff; min-height: 5vh; height:50px; }

.panel-default > .panel-heading-topnav {
background: #EEEEEE; color: #fff; min-height: 5vh; height:30px; }

.pic-right{
         position: relative;
         left: 500px;
}

.pic-left{
         position: relative;
         right: 675px;
}
.panel-default{
    margin: 0 0 0 0;
}
p1{
    position: absolute;
    left: 220px;
    top: 110px;
    color: black;
    font-size: 24px;
}
.wrapper{
    height: auto;
    overflow: auto;
}
#sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #EDF5FF;
    transition: all 0.3s;
    margin: 0px;
    height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

.list-style{
    background: #EDF5FF

}

a {
    color: black;
    font-size: 12px;
    font-align: left;
    margin: 0 0 0 50px;
    line-height: 2;
}

p{
    color: black;
    font-size: 18px;
    padding: 0px;
    margin: 0 0 0 30px;
}